<!DOCTYPE html>
<html>
<head>
    <title>Awesome Skeleton</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&amp;display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        html body {
            font-family: 'Source Code Pro', monospace;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h1 class="title">Awesome Skeleton</h1>
                </div>
                <div class="column">
                    <a class="github-button" href="https://github.com/sunrise-php/awesome-skeleton" data-size="large" data-show-count="true" aria-label="Star sunrise-php/awesome-skeleton on GitHub">Star</a>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>The Skeleton based on the following packages:</p>
            <ul>
                <li>- <a href="https://github.com/spiral/roadrunner">Road Runner</a></li>
                <li>- <a href="https://github.com/PHP-DI/PHP-DI">PHP-DI</a></li>
                <li>- <a href="https://github.com/Seldaek/monolog">Monolog</a></li>
                <li>- <a href="https://github.com/sunrise-php/http-router">Sunrise Router</a></li>
                <li>- <a href="https://github.com/doctrine/orm">Doctrine ORM</a></li>
                <li>- <a href="https://github.com/doctrine/migrations">Doctrine Migrations</a></li>
                <li>- <a href="https://github.com/symfony/console">Symfony Console</a></li>
                <li>- <a href="https://github.com/symfony/validator">Symfony Validator</a></li>
                <li>- <a href="https://github.com/middlewares">Middlewares (PSR-15)</a></li>
                <li>- <a href="https://github.com/neomerx/cors-psr7">CORS (PSR-7)</a></li>
                <li>- <a href="https://github.com/justinrainbow/json-schema">JSON Schema (Validator)</a></li>
                <li>- <a href="https://github.com/filp/whoops">Whoops</a></li>
                <li>- <a href="https://github.com/twigphp/Twig">Twig</a></li>
            </ul>
        </div>
    </section>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
