<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  bootstrap="config/bootstrap.php"
>
  <testsuites>
    <testsuite name="app">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
  <php>
    <env name="APP_ENV" value="test" />
  </php>
</phpunit>
